/* $Id: $ */

/* full search form */
.search-google-appliance-search-form {
  margin-bottom: 1em;
}
.search-google-appliance-search-form input {
  margin-top: 0;
  margin-bottom: 4px;
}
.search-google-appliance-results {
  list-style: none;
}

/* result entries */
.search-gooogle-appliance-results p {
  margin-top: 0;
}
.search-google-appliance-result .title {
  font-size: 1.2em;
}
.search-google-appliance-result li {
  margin-bottom: 1em;
}
.search-google-appliance-results .search-google-appliance-snippet-info {
  padding-left:0; 
}
.search-google-appliance-results .search-google-appliance-info {
  font-size: 0.85em;
  color:#aaa;
}

/* results listings "control" bar */
.search-google-appliance-results-control-bar {
  border:1px solid #ddd;
  background-color: #F6F6F2;
  border-color: #eee;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  padding: 4px 6px;
  margin-top:15px;
  margin-bottom:15px;
}
.search-google-appliance-results-control-bar .search-google-appliance-search-stats {
  float:left;
}
.search-google-appliance-results-control-bar .search-google-appliance-sort-headers {
  float:right;
}
.search-google-appliance-sort-headers .search-google-appliance-sorter {
	padding-right:14px;
	display:block;
	float:left;
}
.search-google-appliance-sort-headers .search-google-appliance-sorter:last-child {
  padding-right:4px;
}
.search-google-appliance-sorter .active-sort {
	font-weight:bold;
}

